html {
	font-size: 18px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    line-height: 1.5;
	color: #606c71;
	box-sizing: border-box;
	text-align: center;
}

#content {
    max-width: 64rem;
    margin: 0 auto;
	font-size: 1.1rem;
	display: block;
}

h1 {
	color: #000000;
	margin: 1rem 0 0 0;
}

h2 {
	margin: 1.2rem 0 0 0;
}

p {
	margin: 0 0 0.5rem 0;
}

ul {
	list-style-type: none;
	padding: 0.7rem;
	margin: 0;
}

li {
	margin-bottom: 1rem;
}

img {
	margin-right: 0.6rem;
}

a img:hover {
	opacity: 0.7;
}

.crossed {
	text-decoration: line-through;
}

/* books layout */

.details-btn {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #D6D0C4;
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 14px;
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: #333333;
	background-color: #F4F1EA;
	line-height: 1;
	margin-right: 8px;
	margin-bottom: 20px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a img.saved {
	opacity: 0.5;
}

.book-img {
	height: 400px;
}

book-info {
	position: relative;
}

.saved-overlay {
	font-size: 35px;
	font-weight: bold;
	color: red;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -93px;
	top: 50%;
	margin-top: -26px;
}

.stuff-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}

.stuff-flex h2,p {
	max-width: 300px;
}

.hide {
	display: none;
}